<%- include('../partials/top.ejs') %>
<small id="geo-status"></small>
<h2>Update <%=place.name%></h2>
<div class="date"><span>Created: <%=place.createdAt.toLocaleString('en-US',{year: 'numeric', month: 'short', day: 'numeric'}) %></span> <span>Last Updated: <%=place.updatedAt.toLocaleString('en-US',{year: 'numeric', month: 'short', day: 'numeric'}) %></span></div>

<!-- ADD A PLACE FORM -->
<form action="/places/<%=place._id%>?_method=PATCH" method="POST">
  <div>
    <label for="name">Place Name:</label>
    <input name="name" id="name" value="<%=place.name%>" />
    <label for="name">Latitude:</label>
    <input type="text" id="latitude" name="latitude" value="<%=place.loc.coordinates[0]%>" />
    <label for="name">Longitude:</label>
    <input type="text" id="longitude" name="longitude" value="<%=place.loc.coordinates[1]%>" />
  </div>

  <div>
    <button>Update Place</button>
  </div>
</form>

<%- include('../partials/bottom.ejs') %>
