<script defer src="/js/scripts.js"></script>
<!-- MAP API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2CGd_TVDT97bT076IBQWpm3h3gFtZGJM&&libraries=&v=weekly"></script>

<%- include('../partials/top.ejs', {user: user}) %>

<small id="geo-status"></small>

<!-- display MAP showing ALL PLACES and USER LOCATION -->
<div id="map"></div>

<h2>All Places</h2>
<div class="list-box">
  <ul>
    <% places.forEach((place) => { %>
    <li>
      <!-- use to pass data from server to front end -->
      <data class="geo-data" data-name="<%=place.name%>" data-lat="<%=place.loc.coordinates[0]%>" data-lng="<%=place.loc.coordinates[1]%>"></data>
      <!-- make place name a link to view place details / report cards  -->
      <a href="/places/<%=place._id%>"><%= place.name %></a>
      <!-- <ul>
        <li><%=place.loc.coordinates %></li>
      </ul> -->

      <!-- ADD REPORT  BUTTON  -->
      <form action="/places/<%=place._id%>/reportcards/new" method="GET">
        <button><span class="material-icons"> thumbs_up_down </span></button>
      </form>

      <!-- EDIT PLACE BUTTON  -->
      <form action="/places/<%=place._id%>/edit" method="GET">
        <button><span class="material-icons"> edit_location_alt </span></button>
      </form>

      <!-- DELETE PLACE BUTTON  -->

      <form action="/places/<%=place._id%>?_method=DELETE" method="POST">
        <button class="danger"><span class="material-icons"> clear </span></button>
      </form>
    </li>
    <% }) %>
  </ul>
</div>

<%- include('../partials/bottom.ejs') %>
