<%- include('../partials/top.ejs') %>
<h2>ALL PLACES</h2>
<p>Logged in as <%= context.user.name %></p>

<div id="places-list">
<ul>
  <% context.places.forEach((place) => { %>
    <li> <%= place.name %>  
    <ul>
      <li> <%=place.loc.coordinates %> </li>
      <% console.log(place); %>
   

    </ul>
    
    
    </li>
    <% }) %>
</ul>
</div>

<a href="places/new">Add A New Place</a>


<%- include('../partials/bottom.ejs') %>

