<%- include('../partials/top.ejs') %>
<h2><%=place.name%> Info</h2>
<p>Logged in as <%= user.name %></p>

<h3><%= place.reportCards.length %> Report Card(s)</h3>
<ul>
  <% place.reportCards.forEach(reportCard => { %>
  <li><%= reportCard.createdAt.toLocaleString('en-US',{year: 'numeric', month: 'short', day: 'numeric'}) %> - Changing Table: <%= reportCard.hasChangingTableW ? '(W)' : '' %> <%= reportCard.hasChangingTableM ? '(M)' : '' %></li>
  <% }) %>
</ul>

<%- include('../partials/bottom.ejs') %>
